@import 'base/variables';
@import 'blocks/promo';
@import 'blocks/header.scss';
@import 'blocks/buttons';
@import 'base/media';
@import 'blocks/benefits';
@import 'blocks/title';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/review';


* {
    font-family:'Museo Sans Cyrl',sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}