.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        max-width: 750px;
        margin: 0 auto;
    }
    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background: transparent;

        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        right: -66px;
        left: auto;
    }
    .slick-dots {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        li {
            list-style: none;
            margin: 0px 10px;
            button {
                font-size: 0;
                width: 15px;
                height: 15px;
                background-color: rgba(255, 0, 0, 0.8);
                border-radius: 100%;
                border: none;
            }
        }
        .slick-active button {
            border: 2px solid rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 10px black;
        }
    }
}